// Fonts
$font-ultra: "Ultra", serif;
$font-lato: "Lato", sans-serif;

$family-primary: $font-lato;

// Colors
$red: #802225;
$red-invert: findColorInvert($red);


$primary: $red;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

$body-background-color: $black-bis;

$box-shadow: 0 14px 40px rgba($black, .16);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;