<template>
    <b-dropdown 
        v-if="options"
        class="field field__dropdown"
        v-model="selected"
        :hoverable="hovered"
        mobile-modal
    >
        <b-button 
            class="button field__button is-radiusless" 
            type="is-dark" 
            slot="trigger"
        >
            <span class="button__label">{{ capitalize(label) }}</span>
            <b-icon class="button__icon" icon="menu-down" />
        </b-button>
        <b-dropdown-item
            v-for="(option, i) in options"
            :key="i"
            @click="select(option)"
            :class="selected == option ? 'is-active' : ''"
        >{{ capitalize(option) }}</b-dropdown-item>
    </b-dropdown>
</template>
<script>
import { capitalize } from 'lodash'
export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        options: {
            type: [Array,Boolean],
            default: false
        },
        defaultLabel: {
            type: String,
            default: ''
        },
        all: {
            type: String,
            default: 'All'
        },  
        hovered: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            selected: '',
            capitalize: capitalize
        }
    },
    computed: {
        label() {
            return this.selected ? this.selected == 'all' ? this.all : this.selected : this.defaultLabel
        }
    },
    watch: {
        value(val) {
            this.selected = val
        }
    },
    mounted() {
        if (this.value) this.selected = this.value
    },
    methods: {
        select(val) {
            this.$emit('input', val)
            this.$emit('selected', val)
        }
    }
}
</script>