<template>
  <section class="column is-full columns is-gapless">
    <div 
      ref="mapWrapper"
      class="column is-full is-fullheight is-relative map__wrapper"
    >
      <div id="mapWrapper" class="map__wrapper is-relative is-full is-fullheight">
        <div
          ref="svg"
          class="map"
          :style="`width: ${$device.isMobile ? 200 : 100}%; height: ${$device.isMobile ? 150 : 100}%;`"
        />
      </div>

      <div class="data__wrapper">

        <!-- Main -->
        <div class="data__intro">
          <h1 class="data__intro--title" v-html="config.labels.title"/>
          <p class="data__intro--description is-hidden-mobile" v-html="config.labels.description" />
        </div>

        <!-- Filters -->
        <div :class="`data__filters--wrapper ${showFilters ? '' : 'hide'}`">
          <div class="data__filters columns is-multiline">
            <div class="column level is-full is-mobile is-hidden-tablet">
              <div class="level-right">
                <div class="level-item">{{ config.filters.title }}</div>
              </div>
              <div class="level-left">
                <b-button class="level-item" type="is-text" @click="showFilters = false">
                  <b-icon
                    icon="close"
                  />
                </b-button>
              </div>
            </div>
            <div 
              v-for="(filter, i) in filterBy"
              :key="i"
              class="column is-one-third data__filter"
            >
                <div class="level is-mobile">
                  <div class="level-left">
                    <label 
                      :for="`filter-${filter}`" 
                      class="data__filters--label level-item"
                    >{{ config.filters[filter] }}</label>
                  </div>
                  <div v-if="filters[filter]" class="level-right" @click="clearFilter(filter)">
                    <b-icon 
                      icon="delete" 
                      class="data__filters--clear level-item"
                    />
                  </div>
                </div>
                <dropdown
                  v-model="filters[filter]"
                  :id="`filter-${filter}`"
                  class="data__filters--dropdown"
                  :options="filtersOption[filter]"
                  :defaultLabel="config.filters.all"
                  @selected="handleFilter"
                />
            </div>
            <div class="column is-full is-hidden-tablet is-centered">
              <b-button class="mobile__control icon-mr" type="is-dark" @click="openInfo"><b-icon icon="information-outline"/> {{ config.controls.show_info }}</b-button>
            </div>
          </div>
        </div>

        <!-- Data box -->
        <div ref="mapData" :class="`data has-text-centered ${showInfo ? '' : 'hide'}`">
          <b-button v-if="data.country != 'COLOMBIA'" class="data__close is-hidden-mobile" type="is-text" @click="reset">
            <b-icon
              icon="close"
            />
          </b-button>
          <b-button class="data__close is-hidden-tablet" type="is-text" @click="showInfo = false">
            <b-icon
              icon="close"
            />
          </b-button>
          <h3 :class="`data__title ${data.country}`">{{ data.title }}</h3>
          <p v-if="data.description" class="data__description">{{ data.description }}</p>
          <div class="columns is-multiline data__totals">
            <div v-if="data.arrested > 0" class="column data__total">
              <div class="data__total--label" v-html="labelArrested" />
              <span class="data__total--text">{{ data.arrested | number }}</span>
            </div>
            <div v-if="data.deaths.violent > 0" class="column data__total">
              <span class="data__total--label">{{ config.labels.violent_death }}</span>
              <span class="data__total--text">{{ data.deaths.violent | number }}</span>
            </div>
            <div v-if="data.deaths.unknown > 0" class="column data__total">
              <span class="data__total--label">{{ config.labels.unknown_death }}</span>
              <span class="data__total--text">{{ data.deaths.unknown | number }}</span>
            </div>
            <div v-if="data.missing > 0" class="column data__total data__missing">
              <span class="data__total--label" v-html="config.labels.missing"/>
              <span class="data__total--text">{{ data.missing | number }}</span>
            </div>
          </div>
          <div class="data__advice">{{ config.labels.advice }}</div>
        </div>

        <!-- Choropleth -->
        <div class="heats columns is-gapless is-mobile">
          <div 
            v-for="heat in [10, 20, 40, 60, 80, 100]"
            :key="heat"
            :class="`column heats__heat heats__heat--${heat}`"
          >
            <span 
              class="heats__color"
              :style="`background-color: ${config.map_colors[heat]};`"
            />
            <span class="heats__label">{{ heat }}%</span>
          </div>
        </div>

      </div>

    </div>
    <b-loading
      is-full-page
      :active.sync="loading"
      :can-cancel="false"
    />
    <div class="noise"/>

    <div class="mobile__controls is-hidden-tablet">
      <b-button class="mobile__control icon-mr" type="is-dark" @click="openInfo"><b-icon icon="information-outline"/> {{ config.controls.show_info }}</b-button>
      <b-button class="mobile__control" type="is-dark" @click="openFilters"><b-icon icon="filter-variant"/></b-button>
    </div>
  </section>
</template>

<script>
import { nSQL } from "@nano-sql/core"
import * as Datamap from "datamaps"
import * as d3 from "d3"

import Dropdown from "~/components/Dropdown"

import { snakeCase, capitalize, toLower } from 'lodash'

// const db = require("~/assets/data/colext.csv")
const config = require("~/static/data/config.json")
const db = require("~/static/data/colext.json")
const db_deaths = require("~/static/data/deaths.json")
const db_missing = require("~/static/data/missing.json")

const countryCode = {
  'CHILE': "CHL",
  'ECUADOR': "ECU",
  'MEXICO': "MEX",
  'VENEZUELA': "VEN",
  'HONDURAS': "HND",
  'COSTA RICA': "CRI",
  'NICARAGUA': "NIC",
  'PANAMA': "PAN",
  'BRASIL': "BRA",
  'BRAZIL': "BRA",
  'GUATEMALA': "GTM",
  'PERU': "PER",
  'PARAGUAY': "PRY",
  'ARGENTINA': "ARG",
  'REPUBLICA DOMINICANA': "DOM",
  'BOLIVIA': "BOL",
  'EL SALVADOR': "SLV",
  'URUGUAY': "URY"
}

const mapResponsive = {
  xl: {
    x: -140,
    y: 12,
    scale: 600
  },
  1440: {
    x: -120,
    y: 6,
    scale: 490
  },
  1024: {
    x: -97,
    y: 1,
    scale: 430
  },
  768: {
    x: -65,
    y: 9,
    scale: 490
  },
  414: {
    x: -70,
    y: 6,
    scale: 460
  },
  320: {
    x: -120,
    y: 6,
    scale: 490
  }
}

let map = false

export default {
  name: 'GotaGota',
  components: {
    Dropdown
  },
  data() {
    return {
      //Boundaries
      mapWidth: 0,
      mapHeight: 0,

      allData: [],
      loading: true,

      selectedCountry: 'COLOMBIA',

      filters: {
        genre: '',
        age: '',
        extradition: '',
        crime: '',
        legal_status: ''
      },
      filtersOption: {
        legal_status: [],
        genre: [],
        age: [],
        extradition: [],
        crime: [],
        legal_status: []
      },
      filtered: false,
      filteredData: [],

      filterBy: [
        'genre',
        'crime',
        'legal_status'
      ],

      mapData: [],
      config: config,

      showGeneral: true,
      totalPeople: 0,
      data: {
        title: '',
        description: '',
        arrested: 0,
        deaths: {
          violent: 0,
          unknown: 0
        },
        missing: 0,
        country: 'COL'
      },

      showFilters: false,
      showInfo: false
    }
  },
  computed: {
    labelArrested() {
      let label = config.labels.arrested
      if (this.filtered) {
        label = `<div class="data__total--label-inner">${config.labels.arrested}</div>`
        label += `<div class="tags has-text-centered">`
        for (let i = 0; i < this.filterBy.length; i++) {
          label += this.filters[this.filterBy[i]] ? `<span class="tag is-rounded is-dark">${this.filters[this.filterBy[i]]}</span>` : ''
        }
        label += `</div>`
      }
      return label
    }
  },
  mounted() {
    window.addEventListener("resize", this.onResize)
    this.setup()
  },
  methods: {
    setup() {
      this.loading = true
      this.allData = this.setupDB()
      this.onResize()
      setTimeout(() => {
        this.getFiltersOptions()
        this.getTotalPeople()
        this.allData.push({
          country: "COLOMBIA",
          code: "COL"
        })
        this.filteredData = this.allData
        this.setMapData(this.allData)
        if (this.$device.isMobile) {
          let svg_wrapper = this.$refs.svg
          this.$scrollTo(svg_wrapper, 10, {
            x: true,
            y: false,
            force: true,
            container: '#mapWrapper',
            offset: 250
          })
        }
        this.loading = false  
      }, 1000)
    },

    //Database parse
    setupDB() {
      let datamodel = []

      //Parse data into array
      nSQL(db)
        .query('select')
        .distinct(['country'])
        .exec()
        .then( countries => {
          countries.forEach(({country}) => {
            let obj = {
              country: country,
              code: countryCode[country],
              total: 0,
              deaths: {
                violent: 0,
                unknown: 0
              }
            }
            nSQL(db).query('select', ['SUM(total) as total']).where(['country', '=', country]).exec().then( data => {
              obj.total = data[0].total
            })
            nSQL(db_deaths).query('select').where(['country', '=', country]).exec().then( data => {
              if (data && data.length > 0) {
                obj.deaths.violent = data[0].violent
                obj.deaths.unknown = data[0].unknown
              }
            })
            datamodel.push(obj)
          })
        }).catch( err => console.error('main query', err))
        return datamodel
    },

    //Get totals from DB
    getTotalPeople() {
      const country = this.selectedCountry

      this.data.arrested = 0
      this.data.deaths.violent = 0
      this.data.deaths.unknown = 0
      this.data.missing = 0

      if (this.filtered) {
        if (country == 'COLOMBIA') {
          nSQL(this.filteredData)
            .query('select', ['SUM(total) as total'])
            .exec()
            .then( data => this.data.arrested = data[0].total)
        } else {
          nSQL(this.filteredData)
            .query('select')
            .where(['country', '=', country])
            .exec()
            .then( data => this.data.arrested = data[0].total)
        }
      } else {
        if (country == 'COLOMBIA') {
          nSQL(this.allData)
              .query('select', ['SUM(total) as total', 'SUM(deaths.violent) as violent', 'SUM(deaths.unknown) as unknown', 'SUM(missing) as missing'])
              .exec()
              .then( data => {
                this.data.arrested = data[0].total
                this.data.deaths.violent = data[0].violent
                this.data.deaths.unknown = data[0].unknown
              })

          nSQL(db_missing)
            .query('select', ['SUM(missing) as total'])
            .exec()
            .then( data => {
              this.data.missing = data[0].total
            })
        } else {
          nSQL(this.allData)
              .query('select')
              .where(['country', '=', country])
              .exec()
              .then( data => {
                this.data.arrested = data[0].total
                this.data.deaths.violent = data[0].deaths.violent
                this.data.deaths.unknown = data[0].deaths.unknown
              })

          nSQL(db_missing)
            .query('select')
            .where(['country', '=', country])
            .exec()
            .then( data => {
              this.data.missing = data && data.length > 0 ? data[0].missing : 0
            })
        }
      }
      switch(country) {
        case 'COLOMBIA':
          this.data.title = config.labels.colombia
          this.data.description = config.labels.colombia_text
          this.data.country = 'COLOMBIA'
          return
        default:
          let lowCountry = snakeCase(country)
          this.data.title = config.labels[lowCountry]
          this.data.description = config.labels[`${lowCountry}_text`]
          this.data.country = country
          return
      }
    },

    //Set filter options
    getFiltersOptions() {
      //Legal status
      nSQL(db)
        .query('select')
        .distinct(['legal_status'])
        .exec()
        .then( data => {
          this.filtersOption.legal_status = data.map( el => el.legal_status)
        })

      //Legal status
      nSQL(db)
        .query('select')
        .distinct(['crime'])
        .exec()
        .then( data => {
          this.filtersOption.crime = data.map( el => el.crime)
        })
      
      //Extradition status
      nSQL(db)
        .query('select')
        .distinct(['extradition_status'])
        .exec()
        .then( data => {
          this.filtersOption.extradition = data.map( el => el.extradition_status)
        })

      //Genre
      nSQL(db)
        .query('select')
        .distinct(['genre'])
        .exec()
        .then( data => {
          this.filtersOption.genre = data.map( el => el.genre)
        })

      //Age
      nSQL(db)
        .query('select')
        .distinct(['age'])
        .exec()
        .then( data => {
          this.filtersOption.age = data.map( el => el.age)
        })
    },
    
    //Filter function
    handleFilter() {
      let filterData = []

      this.allData.forEach( el => {
        let filterArr = this.getFiltersArray()
        filterArr.push('AND')
        filterArr.push(['country', '=', el.country])
        nSQL(db)
          .query('select', ['SUM(total) as total'])
          .where(filterArr)
          .exec()
          .then( data => {
            filterData.push({
              country: el.country,
              code: el.country == 'COLOMBIA' ? 'COL' : countryCode[el.country],
              total: data[0].total
            })
          })
      })
      setTimeout(() => {
        this.filtered = true
        this.filteredData = filterData
        this.setMapData(filterData)
        this.getTotalPeople()
      }, 500)
    },

    getFiltersArray() {
      //Genre
      let filterGenre = this.filters.genre && this.filters.genre != 'all' ? ['genre', '=', this.filters.genre] : false

      //Age
      let filterAge = this.filters.age && this.filters.age != 'all' ? ['age', '=', this.filters.age] : false

      //Extradition
      let filterExtradition = this.filters.extradition && this.filters.extradition != 'all' ? ['extradition', '=', this.filters.extradition] : false

      //Crime
      let filterCrime = this.filters.crime && this.filters.crime != 'all' ? ['crime', '=', this.filters.crime] : false

      //Legal status
      let filterLegalStatus = this.filters.legal_status && this.filters.legal_status != 'all' ? ['legal_status', '=', this.filters.legal_status] : false
      
      let filtersArray = []
      if (filterGenre) filtersArray.push(filterGenre)
      if (filterAge) filtersArray.push(filterAge)
      if (filterExtradition) filtersArray.push(filterExtradition)
      if (filterCrime) filtersArray.push(filterCrime)
      if (filterLegalStatus) filtersArray.push(filterLegalStatus)

      if (filtersArray.length == 2) {
        filtersArray.splice(1,0,'AND')
      } else if (filtersArray.length == 3) {
        filtersArray.splice(1,0,'AND')
        filtersArray.splice(3,0,'AND')
      } else if (filtersArray.length == 4) {
        filtersArray.splice(1,0,'AND')
        filtersArray.splice(3,0,'AND')
        filtersArray.splice(5,0,'AND')
      } else if (filtersArray.length == 5) {
        filtersArray.splice(1,0,'AND')
        filtersArray.splice(3,0,'AND')
        filtersArray.splice(5,0,'AND')
        filtersArray.splice(7,0,'AND')
      }
      return filtersArray
    },

    clearFilters() {
      this.filters = {
        genre: '',
        age: '',
        extradition: '',
        crime: '',
        legal_status: ''
      }
      this.filtered = false
      this.getTotalPeople()
      this.setMapData(this.allData)
    },

    clearFilter(filter) {
      this.filters[filter] = ''
      let activeFilter = this.filters.genre || this.filters.age || this.filters.extradition || this.filters.crime || this.filters.legal_status
      if (activeFilter) {
        this.handleFilter()
      } else {
        this.clearFilters()
      }
    },

    reset() {
      this.selectedCountry = 'COLOMBIA'
      this.getTotalPeople()
    },

    fillColor(val, highest, col = false) {
      let p10 = highest * 0.01
      let p20 = highest * 0.05
      let p40 = highest * 0.10
      let p60 = highest * 0.40
      let p80 = highest * 0.8
      if (col) return config.map_colors.highlight
      if (val > p80) return config.map_colors[100]
      if (val > p60 && val <= p80) return config.map_colors[80]
      if (val > p40 && val <= p60) return config.map_colors[60]
      if (val > p20 && val <= p40) return config.map_colors[40]
      if (val > p10 && val <= p20) return config.map_colors[20]
      if (val <= p10 && val > 0) return config.map_colors[10]
      if (val == 0) return config.map_colors[0]
    },

    onResize() {
      this.mapWidth = this.$refs.mapWrapper.clientWidth
      this.mapHeight = this.$refs.mapWrapper.clientHeight
      if (!map) {
        setTimeout(() => {
          this.drawMap()
        }, 500)
      } else {
        map.resize()
      }
    },

    //Map methods
    getProjection(element) {
      let wWidth = window.innerWidth
      let posX = 0
      let posY = 0
      let scale = 0
      if(wWidth <= 320) {
        posX = mapResponsive[320].x
        posY = mapResponsive[320].y
        scale = mapResponsive[320].scale
      } else if(wWidth > 321 && wWidth <= 414) {
        posX = mapResponsive[414].x
        posY = mapResponsive[414].y
        scale = mapResponsive[414].scale
      } else if(wWidth > 414 && wWidth <= 768) {
        posX = mapResponsive[768].x
        posY = mapResponsive[768].y
        scale = mapResponsive[768].scale
      } else if(wWidth > 768 && wWidth <= 1024) {
        posX = mapResponsive[1024].x
        posY = mapResponsive[1024].y
        scale = mapResponsive[1024].scale
      } else if(wWidth > 1024 && wWidth <= 1440) {
        posX = mapResponsive[1440].x
        posY = mapResponsive[1440].y
        scale = mapResponsive[1440].scale
      } else {
        posX = mapResponsive.xl.x
        posY = mapResponsive.xl.y
        scale = mapResponsive.xl.scale
      }
      console.log(wWidth)
      const projection = d3.geo.mercator()
            .center([posX, posY])
            .scale(scale)

      const path = d3.geo.path().projection(projection)
      return { path, projection }
    },
    drawMap() {
      const container = this.$refs.svg
      container.innerHTML = ""
      map = new Datamap({
        scope: 'world',
        element: container,
        responsive: true,
        geographyConfig: {
          borderColor: config.map_colors.borders,
          borderWidth: 1,
          popupOnHover: true,
          highlightFillColor: config.map_colors.highlight,
          popupTemplate: (geo, data) => {
            if (!data || data.code == 'COL') return
            return [
              `<div class="map__hoverinfo">
                <div class="hover__name">${data.name}</div>
                <div class="hover__total"><i class="mdi mdi-human-handsup mdi-24px has-text-grey"></i> ${data.total}</div>
              </div>`
            ]
          }
        },
        setProjection: this.getProjection,
        fills: {
          defaultFill: config.map_colors.default
        },
        data: this.mapData,
        done: (datamap) => {
          datamap.svg.selectAll('.datamaps-subunit').on('click', geography => {
            let country = this.$options.filters.upperCase(geography.properties.name)

            if (country == 'BRAZIL') country = 'BRASIL'
            if (country == 'DOMINICAN REPUBLIC') country = 'REPUBLICA DOMINICANA'

            if (country == 'COLOMBIA' || countryCode[country]) {
              this.selectedCountry = country
              this.getTotalPeople()
              this.showInfo = true
            }
          })
        }
      })
    },

    //Set data into map
    setMapData(data) {
      let highest = 0
      for(let i = 0; i < data.length; i++) {
        if (data[i].total > highest) highest = data[i].total
      }

      let mapData = []

      data.forEach(el => {
        if (el.code == 'COL') {
          mapData['COL'] = {
            fillColor: this.fillColor(el.total, highest, true),
            total: false,
            name: el.country,
            code: 'COL'
          }
        } else {
          mapData[el.code] = {
            fillColor: this.fillColor(el.total, highest),
            total: el.total,
            name: config.labels[snakeCase(el.country)],
            code: el.code
          }
        }
      })

      map.updateChoropleth(mapData)
    },

    openInfo() {
      this.showFilters = false
      this.showInfo = this.showInfo ? false : true
    },
    openFilters() {
      this.showFilters = this.showFilters ? false : true
      this.showInfo = false
    }
  }
}
</script>
